<br>
<div class="container">
  <div class="row" style="margin: 10px">
    {loop="$products"}
    <div class="col-6 col-sm-3 single-product" style="margin-bottom: 20px">
       <img src="{$value.desphoto}" alt="" >
        <h2><a href="/product/{$value.desurl}">{$value.desproduct}</a></h2>
        <div class="product-carousel-price">
            <ins>R${function="formatarPreco($value.vlprice)"}</ins>
        </div>
        <div>
            <a href="/product/{$value.desurl}" class="btn btn-success ">Ver detalhes</a>
            <a href="/cart/{$value.idproduct}/add" class="btn btn-success">Comprar</a>
        </div>
    </div>
    {/loop}
  </div>
</div>
<br>
